body {
  background-color: rgb(146, 145, 145);
}

header {
  text-align: left;
  font-size: x-large;
  background-color: rgb(158, 158, 158);
}

.home-link:link {
  color: red;
}

.home-link:visited {
  color: rgb(68, 68, 68);
}

.home-link:hover {
  color: black;
}

.home-link:active {
  color: gray;
}

h2 {
  font-size: xx-large;
  text-align: center;
}

.home-img {
  border-radius: 5%;
width: 300px;
height: 380px;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 5%;
}

.home-img:hover {
  transform: scale(1.1);
}

.container-grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1em;
  justify-content: center;
}


.container-page {
  text-align: center;
  justify-content: center;

}

.info-img {
  border-radius: 5%;
  width: 300px;
  height: 380px;
}

.card {
  /* background-color: black; */
  text-align: left;
}

.form {
min-width: 100px;
min-height: 10px;
overflow: auto;
cursor: text;

}

#review {
font-size: 120%;
width: 140px;
height: 30px;
transition: all 300ms ease-in-out;
}

#review:focus {
  min-width: 220px;
  min-height: 80px;
  outline: 0px;
  text-overflow: clip;
}





#rating {
  font-size: 100%;
width: 140px;
height: 30px;
}

#name {
  font-size: 100%;
width: 190px;
height: 24px;
}

button {
  background-color: white;
  width: 90px;
  height: 30px;
  transition: all 300ms ease-in-out;
}

button:hover {
  background-color: black;
  color: white;
}
