body {
  background-color: rgb(94, 85, 148);
  font-family: Optima, sans-serif;
}

header {
  text-align: left;
  font-size: x-large;
  background-image: url('https://media4.giphy.com/media/IeFnrNj0fcXG4YuCfj/giphy.gif?cid=ecf05e471sc13k226qbwneubkyxm7eaf4juknpnsybtde6ri&rid=giphy.gif&ct=g');
  height:340px;
}

.home-link {
  justify-content: space-between;
  line-height: 2.5 ;
  float: left;
  margin-left: 30px;
}

.about-link {
  float: right;
  justify-content: space-between;
  line-height: 2.5 ;
  margin-right: 30px;
}

.info-page {
  text-align: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4)
  ), url(https://i.imgur.com/HJKwCIm.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.about-link:visited {
  color: rgb(252, 252, 252);
}

.about-link:hover {
  color: black;
}

.about-link:active {
  color: rgb(47, 28, 134);
}

.home-link:visited {
  color: rgb(255, 255, 255);
}

.home-link:hover {
  color: black;
}

.home-link:active {
  color: rgb(47, 28, 134);
}

h2 {
  font-size: xx-large;
  text-align: center;
}

.title {
  position: relative;
  margin-top: -280px;
  margin-bottom: 210px;
  font-size: 80px;
  font-weight: bolder;
  color: white;
}

.slogan {
  font-size: x-large;
  font-weight: bolder;
  color: white;
}

.home-overall {
  margin-top: 1%;
}

.home-img {
  border-radius: 5%;
  width: 300px;
  height: 380px;
  cursor: pointer;
  transition: all 0.2s;
  background-color: white;
  border: 5px solid #000000
}

.home-img:hover {
  transform: scale(1.1);
}

.container-grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1em;
  justify-content: center;
}

.container-page {
  text-align: left;
}

.info-img {
  float: left;
  background-color: white;
  border-radius: 5%;
  width: 400px;
  height: 480px;
}

.pc-info {
  border: 5px solid #000000;
}

.card {
  text-align: left;
  margin-left:10% ;
  margin-top: 100px;
}

.form {
  margin-bottom: 100px;
  min-width: 100px;
  min-height: 10px;
  overflow: auto;
  align-items: center;
}

.posts {
  margin-left:-10% ;
}

#review {
  font-size: 120%;
  width: 330px;
  height: 30px;
  transition: all 300ms ease-in-out;
}

#review:focus {
  min-width: 530px;
  min-height: 110px;
  outline: 0px;
  text-overflow: clip;
}

#rating {
  font-size: 100%;
  width: 140px;
  height: 30px;
}

#name {
  font-size: 100%;
  width: 190px;
  height: 24px;
}

button {
  background-color: white;
  width: 90px;
  height: 30px;
  transition: all 300ms ease-in-out;
}

button:hover {
  background-color: black;
  color: white;
}
